body{
    margin: 0;
    

}
.wrapper{
    height: 200vh;
    /* width: 100vw; */
    display: grid;
    grid-template-rows: 100px auto;


}
header{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.main{
    z-index: 5;
    background-color:  lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.burger{
    position: relative;
    left: -80px;

}
.title{

    font-size: 2.5rem;

}
#burger-menu{

    font-size: 4rem;

}
.box{
    height: 250px;
    width: 150px;
    background-color: black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.name{


    width: 100%;
    height: 75px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    top: -75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.cart{
    height: 100px;
    width: 100px;
    background-color:  white;
    position: fixed;
    top: 615px;
    left: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 1000ms;
    
}
#shopping-cart{
    font-size: 3rem;

}
.menu{
    background-color: orange;
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    left: -50vw;
    display: grid;
    grid-template-rows: 80px 50px 50px 50px;
    transition: 200ms;
}
.show{
    left: 0;
    transition: 200ms;
}
.tags{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    display: flex;
    align-items: center;
    font-size: 1.5rem;

}
.shadow{


    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    left: 100vw;
    

}
.showshadow{

    left: 50vw;
    


}
.showcart{
    height: 86.5vh;
    width: 100vw;
    top: 100px;
    left: 0;
    border-radius: 0;
    transition: 1000ms;
    overflow: hidden;


}
.cart-wrapper{


    background-color: white;
    height: 86.5vh;
    width: 100%;
    display: none;

}

.show-cart-wrapper{


    display: grid;
    grid-template-rows: 48px 1fr 100px;
    
}


.showcart i.material-icons.open{
    display: none;
}
i.material-icons.close{
    display:none;
}
.showcart i.material-icons.close{
    display: block;
    border: 1px solid black;
}
.cart-itemcontainer{

    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;


}
.buybutton{


    height: 100%;
    width: 100vw;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;


}
.item{

    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 80.72px;

    

}
.remove{

    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-left: 1px solid black;


}
.item-name{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.item-name p{
    margin: 0;
    font-size: 2rem;

}
a{
    text-decoration: none;
    color: black;

}
.infowrapper{

    height: 100%;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;


}
.info{

    margin: 0;
    height: 95%;
    width: 95%;
    background-color: rgba(245, 245, 245, 0.884);

}
.info p{

    font-size: 2rem;

}
.bullwrapper{


    height: 100vh;
    width: 100%;
    position: fixed;
    top: 100px;

}
.bullimg{

    width: 100%;
    height: 150px;
    background-image: url("../IMG/wild-blueberry-pie.jpg")


}
.bulltext{

    display: flex;
    align-items: center;
    flex-direction: column;

}
.bulltext p{

    font-size: 1.5rem;

}
.addtocart{

    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 3rem;
    position: relative;
    top: 15px;
}